/* Write your code here. */
* {
  margin: 0;
  padding: 0;
}
.bg-container {
  background-color: #0f172a;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  color: #f8fafc;
  text-align: center;
  font-size: 28px;
  padding-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 45px;
  }
}
.image {
  height: 150px;
  width: 150px;
}
@media screen and (min-width: 768px) {
  .image {
    height: 300px;
    width: 300px;
  }
}
